* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;    
}

body {
    font-family: Arial;
    line-height: 1.6;
    color: black;
    background-color: #FFFFFF;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

#pic {
    height: 350px;
    width: 350px;
    border-radius : 30px ;
}

#intro {
    height: max-content;
    width: 400px;
    font-size: 19px;
    line-height: 35px;
}

#picd {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

section {
    padding: 10px 0;
}

section h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 20px;
}

form {
    width: 50%;
    margin: auto;
    display: flex;  
   flex-direction: column;
}

form textarea,
form input[type="text"],
form input[type="email"]{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 1rem 4rem ;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    height: 50px;
    weight: 50px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}